<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qxx0101.haishangzuoye">

    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="n"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.qxx0101.haishangzuoye.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendar.schedule.add.AddScheduleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".calendar.schedule.add.customrepeat.RepeatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendar.schedule.add.customrepeat.CustomRepeatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendar.schedule.add.customreminder.ReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calendar.schedule.detail.ScheduleShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>